.container {
  container-type: inline-size;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.columns .main {
  flex: 3;
}

.columns .aside {
  flex: 1;
}

@container (min-width: 768px) {
  .columns {
    flex-direction: row;
    gap: 2rem;
  }
}