@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,500;1,700&display=swap');

:root {
  --color-bg: #eee;
  --color-text: #222;
  
  --color-renci: #00758d;
  --color-unc: #4b9cd3;

  --color-unc-carolina-blue: #4b9cd3;
  --color-unc-navy: #13294b;
  --color-unc-black: #151515;
  --color-unc-white: #ffffff;
  --color-unc-gray: #f8f8f8;
  --color-unc-basin-slate: #4f758b;
  --color-unc-campus-sandstone: #f4e8dd;
  --color-unc-longleaf-pine: #00594c;
  --color-unc-azalea-pink: #ef426f;
  --color-unc-tile-teal: #00a5ad;
  --color-unc-sunburst-yellow: #ffd100;
  --color-unc-davie-green: #c4d600;
  --color-unc-hyperlink-blue: #007fae;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 13pt;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  background-color: #fff;
}

/* 
@media (prefers-color-scheme: dark) {
  #root {
    background-color: #000;
    color: #fff;
  }
}
 */

 main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  flex: 1;
}

a {
  color: var(--color-renci);
  transition: filter 250ms;
}


a:hover {
  filter: brightness(1.5);
}
